.formParent {
    background: deepskyblue;

}

.container {
    margin: 0px 50px;
}

.completedFalse {
    color: rgb(42, 70, 0);
    text-decoration: none;
}

.completedTrue {
    color: rgb(255, 85, 85);
    text-decoration: line-through;
}

.listclass {
    display: flex;
}

.deleteBtn {
    cursor: pointer;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  